.noticia-more {
font-size: 25px !important;
position: absolute;
right: -10px;
top: -10px;
color: lightgray !important;
}
.icon-color {
    color: lightgray !important;

}

.title {
    margin-bottom: 10px;
    margin-top: 5px;

}